%article[model]
  %h1.name= link_to name, model
  - fields.each do |field|
    %div{class: field.to_s.dasherize}= self.send field
  .actions= cell :button, model, action: :edit

  = cell 'gig/payments', model
