- container! @gig do
  %h1.name= link_to @gig
  - for field_name <- fields do
    - field_class = dasherize(field_name)
    %div{class: field_class}= field @gig, field_name
  .actions= cell ContraqWeb.ButtonCell, model: @gig, action: :edit
