@mixin badge($color: color(badge-default)) {
  $font-size: 0.75rem;
  $height: 20px;
  $padding: $font-size / 2;
  @include mod-button-size-custom($height: $height, $padding: $padding);
  @include mod-button-style(flat, color($color));
  @include system-font-bold;
  border-radius: 10000px; // easiest way of making an oval
  font-size: $font-size;
  vertical-align: 5%;
}

.overdue {
  @include badge($color: badge-warning);
}
