@import "rocket-button/build/sass/import";

@mixin button($color: color(button-default), $style: gradient) {
  @extend button;
  @include mod-button-setup;
  @include mod-button-shape(rounded);
  @include mod-button-size(normal);
  @include mod-button-size-custom($height: 28px, $padding: 0.75rem);
  @include mod-button-style($style, $color);
  font: {
    family: $system-font;
    weight: bolder;
  }
}

@mixin button-create {
  @include button($color: color(button-create));
}

@mixin button-edit {
  @include button($color: color(button-edit));
}

@mixin button-save {
  @include button($color: color(button-save));
}
