$button-edit-save: #000099;

$colors: (
  button-create: #009900,
  button-default: purple,
  button-edit: $button-edit-save,
  button-save: $button-edit-save
);

@function color($name) {
  @return map-get($colors, $name);
}
