$button-default: #000099;

$colors: (
  button-create: #009900,
  button-default: $button-default,
  button-edit: $button-default,
  button-save: $button-default
);

@function color($name) {
  @return map-get($colors, $name);
}
