$button-edit-save: #000099;
$badge-default: button-edit-save;

$colors: (
  badge-default: $badge-default,
  badge-warning: darken(red, 5%),
  button-create: #009900,
  button-default: purple,
  button-edit: $button-edit-save,
  button-save: $button-edit-save,
  flash-alert: red,
  flash-notice: green
);

@function color($name) {
  @return map-get($colors, $name) or $name;
}
