%article[gig]
  %h1.name= gig.name
  %div= _('%{start_time}–%{end_time}') % gig.attributes.symbolize_keys
  %div= [gig.city, gig.state].compact.join _(', ')
  %div.actions= link_to _('edit'), [:edit, gig]
